.container {
  margin: auto;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  height: 400px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.container h4 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.scanner {
  border: 5px solid black;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px darkgoldenrod;
}

.header {
  position: fixed;
  top: 6.5vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header h2 {
  font-family: "Mario Party";
  font-size: 20px;
  text-shadow: 1px 2px 2px goldenrod;
}

@media (max-width: 350px) {
  .scanner {
    padding: 5px;
    border-radius: 5px;
  }
}

.name {
  font-family: "Mario Party";
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 5px;
  /* background-color: #007ad9; */
  color: black;
  text-shadow: 1px 2px 2px goldenrod;
}

.card {
  position: absolute;
  top: 10vh;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.msg-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px 20px 20px;
}

:host >>> .card .ui-card {
  padding: 0;
  height: 75vh;
  width: 95vw;
}
:host >>> .card .ui-card-body {
  padding: 0;
  height: 63vh;
}

.float-right {
  top: 25px;
  right: 10px;
  position: absolute;
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
}

.msg {
  background-color: rgba(218, 165, 32, 0.527);
  border: 2px solid #333333;
  padding: 20px;
  font-size: 1em;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0px 1px 1px #333333;
  letter-spacing: 0.1em;
  margin-top: 20px;
}
