<div *ngIf="eventType">
  <div class="background"></div>
  <div class="animated zoomIn fast">
    <p-card class="msg-card">
      <p-header>
        <h2 *ngIf="eventType.style == 'good'" class="name">
          Congrats!
        </h2>
        <h2 *ngIf="eventType.style == 'bad'" class="name">
          Oh no!<i class="far fa-surprise fa-2x"></i>
        </h2>
        <h2 *ngIf="eventType.style == 'hungry'" class="name">
          Hey there!
        </h2>
        <button class="float-right" (click)="close()">X</button>
      </p-header>
      <div *ngIf="eventType.type == 'toad'" class="msg-container">
        <h4>
          Toad has discovered a rocket pack and wants to take you for a ride!
        </h4>
        <p>You'll be boosted all the way across the map!</p>
        <img
          class="icon animated tada delay-1s"
          src="../../assets/toad_boost.png"
        />
      </div>
      <div *ngIf="eventType.type == 'luma'" class="msg-container">
        <h4>
          You've encountered Luma, and he directs you to a launch star!
        </h4>
        <p>You'll be launched all the way across the map!</p>
        <div class="row">
          <img
            class="large-icon animated infinite rotateIn fast "
            src="../../assets/launch_star.png"
          />
          <img
            class="small-icon animated infinite bounce delay-2s"
            src="../../assets/luma.png"
          />
        </div>
      </div>
      <div *ngIf="eventType.type == 'chef'" class="msg-container">
        <h4>
          Getting hungry? No worries, Chef Mario's got you!
        </h4>
        <p>You are ushered by Chef Mario to his restaurant.</p>
        <img
          class="large-icon animated heartBeat delay-1s"
          src="../../assets/chef.png"
        />
      </div>
      <div *ngIf="eventType.type == 'bowser'" class="msg-container">
        <h4>
          Bowser's angry at your performance so far!
        </h4>
        <p>
          He tosses you back the way you came to do better...
        </p>
        <img
          class="large-icon animated shake delay-1s"
          src="../../assets/bowser_angry.png"
        />
      </div>
      <div *ngIf="eventType.type == 'bowserjr'" class="msg-container">
        <h4>
          Bowser Jr accidentally punches you while playing around!
        </h4>
        <p>
          You're knocked back a few spots!
        </p>
        <img
          class="large-icon animated shake delay-1s"
          src="../../assets/bowser_jr.png"
        />
      </div>
      <div *ngIf="eventType.type == 'waluigi'" class="msg-container">
        <h4>
          Waluigi wants a friend, and he's willing to give rides for it!
        </h4>
        <p>
          You take him up on it and take a drive.
          <i class="fas fa-car fa-2x"></i>
        </p>
        <img
          class="large-icon animated rubberBand delay-1s"
          src="../../assets/waluigi.png"
        />
      </div>
      <div class="footer"></div>
    </p-card>
  </div>
</div>
