:host >>> .ui-menubar .ui-menuitem-link .ui-menuitem-text,
:host >>> .ui-menubar .ui-menuitem-link .ui-menuitem-icon {
  color: darkgoldenrod;
  text-shadow: 0px 1px 1px black;
  font-size: 14px;
  letter-spacing: 0.11em;
}

:host >>> .ui-menubar {
  padding: 0.25em;
  background-color: inherit;
  border: none;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  /* border-bottom: 1px solid #ccc; */
}

@media (max-width: 350px) {
  :host >>> .ui-menubar .ui-menuitem-link .ui-menuitem-text,
  :host >>> .ui-menubar .ui-menuitem-link .ui-menuitem-icon {
    font-size: 12px;
  }
}
