<app-menu [items]="items"></app-menu>

<div class="animated flipInY fast">
  <p-card class="card">
    <p-header>
      <h2 class="name">
        Welcome to Mario Party '19
      </h2>
    </p-header>
    <div class="container">
      <p-tabView class="accordion">
        <p-tabPanel header="Overview">
          You and your stack are now immersed in a game of Mario Party. You must
          traverse the game board (encompassing all of campus), participating in
          mini-games and missions at every turn. You cannot advance to your next
          turn until you successfully complete the current mini-game/mission.
          Stars and coins will be awarded based on your performance in these.
          Coins can be used to buy items/perks in future games. Whoever has the
          most stars at the end wins!
        </p-tabPanel>
        <p-tabPanel header="Stars">
          <div class="row">
            <img class="icon" src="../../assets/star.png" />
            <p>
              The team with the most stars at the end wins! Stars are awarded at
              the end of each mini-game / puzzle mission. For games involving
              competition between multiple teams, more stars will be awarded to
              the winners. There may also be some bonus stars at the end for
              hidden missions <i class="far fa-smile-wink"></i>
            </p>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Coins">
          <div class="row">
            <img class="icon" src="../../assets/coin.png" />
            <p>
              Coins are also rewarded at the end of mini-games and puzzles, the
              amount varying based on your performance in the event. Any coins
              you earn can be used in future activities to purchase perks. These
              perks may include items to help you out in a mini-game, hints for
              certain puzzles, etc.
            </p>
          </div>
        </p-tabPanel>
        <p-tabPanel header="The App">
          <div class="row">
            <p>
              This app is the backbone of the party. Here, you'll find:<br /><br />
              <b>Profile</b> This is your teams profile page. You can track how
              many stars and coins your team has here.<br />
              <b>Scoreboard</b> Checkout how you're doing relative to the rest
              of the stack! All teams' stars and coins will be listed here.<br />
              <b>Game</b> Go here to progress in the game. Upon unlocking the
              next turn, you'll be able to roll the dice and move along the
              board. A clue to the next event location will then be revealed to
              you. The next dice roll is unlocked when you complete the activity
              at the current location. Specifically, you will be handed a
              QR-encoded star which also unlocks the dice for a roll.<br />
              <b>QR Reader</b> At various points in the game, you will need to
              decode QR Codes. You can use the included decoder at the QR Reader
              page to do this. Decoded stars/coins will be automatically added
              to your team.<br />
              <b>Shop</b> You can find some bonus game items available here for
              purchase with your coins.
              <br />
              <br />
              *You may note that Bob-omb and Lakitu are characters on the login
              screen. These are for administrative and unrevealed miscellaneous
              reasons and are irrelevant to your core game.
            </p>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="footer"></div>
  </p-card>
</div>
