<p-card class="card animated bounceIn" *ngIf="!authService.isLoggedIn">
  <div>
    <h1>Choose a character!</h1>
  </div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (afterChange)="afterChange($event)"
  >
    <div ngxSlickItem *ngFor="let character of characters" class="slide">
      <app-icon [character]="character"></app-icon>
      <h4>{{ character.name }}</h4>
    </div>
  </ngx-slick-carousel>
  <p-footer>
    <p-button label="Start!" (onClick)="login()"></p-button>
  </p-footer>
</p-card>
<div class="filler"></div>
