.card {
  position: fixed;
  top: 10vh;
  left: 2.5%;
  z-index: 99;
  width: 95%;
  height: auto;
  text-align: center;
}

:host >>> .slick-dots {
  margin-bottom: 15px;
}

.slick-slider {
  width: 85%;
  margin: auto;
  background: none;
}

:host >>> .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

:host >>> .prev-slide.slick-disabled,
:host >>> .next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

:host >>> .prev-slide {
  left: -33px;
}

:host >>> .next-slide {
  right: -33px;
}

:host >>> .prev-slide:hover {
  background-position: 0px -53px;
}

:host >>> .next-slide:hover {
  background-position: -24px -53px;
}

:host >>> .ui-button {
  background-color: black;
  border: 1px solid black;
  box-shadow: 1px 1px 2px #444444;
  margin-top: 15px;
  letter-spacing: 0.1em !important;
}

:host >>> .ui-button:enabled:active,
:host >>> .ui-button:enabled:hover {
  background-color: darkgoldenrod;
  border: 1px solid darkgoldenrod;
}

/* 
:host >>> .ui-card-content h1 {
  color: darkgoldenrod !important;
  text-shadow: 2px 2px 3px #444444 !important;
} */
