<div class="card">
  <div *ngIf="(afAuth.user | async) as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <label>Email: <input [(ngModel)]="email" placeholder="email" /> </label>
    <label>
      Password: <input [(ngModel)]="password" placeholder="password" />
    </label>
    <button (click)="createUser()">Create new user</button>
    <button (click)="login()">Login</button>
  </ng-template>
</div>
