.name {
  font-family: "Mario Party";
  padding-left: 25px;
  padding-top: 20px;
  color: #007ad9;
  text-shadow: 1px 1px 1px black;
}

.pic {
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgb(151, 150, 150);
  padding: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}

:host >>> .ui-card-body {
  padding: 0;
}

:host >>> .ui-card-footer {
  background-color: #007ad9;
  margin-top: 1em;
  height: 3em;
}

.card {
  position: fixed;
  top: 10vh;
}
