.name {
  font-family: "Mario Party";
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 15px;
  /* background-color: #007ad9; */
  color: white;
  text-shadow: 1px 2px 2px #444444;
  border-bottom: 1px 1px 2px #cccccc;
  font-size: 14px;
  letter-spacing: 0.1em !important;
  height: 12vh;
  margin: 0;
  box-sizing: border-box;
}

.pic {
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 55vh;
}

.container-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  height: 55vh;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border-top: 1px solid rgb(151, 150, 150); */
  padding: 10px;
}

.line {
  width: 200px;
  border-top: 1px solid rgb(151, 150, 150);
}

.icon {
  width: 50px;
  height: 50px;
}

:host >>> .card .ui-card-body {
  padding: 0;
  height: 63vh;
}

.footer {
  background-color: #007ad9;
  width: 100%;
  height: 8vh;
}

.card {
  position: absolute;
  top: 10vh;
}

:host >>> .card .ui-card {
  padding: 0;
  height: 75vh;
}

:host >>> .card .ui-card-header {
  height: 12vh;
}

.filler {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
