<app-menu [items]="items"></app-menu>
<div *ngIf="character != null" class="animated flipInY fast">
  <p-card class="card">
    <p-header>
      <h2 class="name" [style.background-color]="character.color">
        Team {{ character.name }}
      </h2>
    </p-header>
    <div class="container">
      <div class="pic">
        <app-icon [character]="character"></app-icon>
      </div>
      <div class="row">
        <img class="icon" src="../../assets/star.png" />
        <h4>Stars Collected: {{ character.numStars }}</h4>
      </div>
      <div class="row">
        <img class="icon" src="../../assets/coin.png" />
        <h4>Coins Collected: {{ character.numCoins }}</h4>
      </div>
    </div>
    <div class="footer" [style.background-color]="character.color"></div>
  </p-card>
</div>
<div class="filler"></div>
