/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Mario Party";
  src: url("assets/new-super-mario-font-mario-party-9.ttf");
}

body {
  background: lightgoldenrodyellow;
}
