/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Mario Party";
  src: url("assets/new-super-mario-font-mario-party-9.ttf");
}

body {
  background: whitesmoke;
  padding-bottom: 25px;
  height: 110vh;
}

body .ui-card {
  box-shadow: 2px 2px 4px black !important;
}
