:host >>> .ui-button {
  background-color: #333333;
  border: 1px solid #333333;
  box-shadow: 1px 1px 2px #444444;
  margin-top: 15px;
  letter-spacing: 0.1em !important;
  color: goldenrod;
  text-shadow: 1px 2px 3px black;
  font-weight: bold;
}

:host >>> .ui-button:enabled:active,
:host >>> .ui-button:enabled:hover {
  background-color: darkgoldenrod;
  border: 1px solid darkgoldenrod;
}

.footer {
  position: fixed;
  bottom: 1vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  top: 6vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Mario Party";
  font-size: 20px;
  text-shadow: 1px 2px 2px goldenrod;
}
